<div class="container">
  <h1>Welcome to words that contain words....anagrams.</h1>

<form action="/" method="POST">
  <input type="text" name="word" placeholder="e.g. chicken">
  <input type="submit" value="submit">
</form>
</div>
